@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {
  @font-face {
    font-family: 'TNR-reg';
    src: url('assets/fonts/times-new-roman-pixe-regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }


  @font-face {
    font-family: 'TNR-bold';
    src: url('assets/fonts/times-new-roman-bold.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
  }


  @font-face {
    font-family: 'TNR-black';
    src: url('assets/fonts/times-new-roman-black.ttf') format('opentype');
    font-weight: 600;
    font-display: swap;
  }  

  @font-face {
    font-family: 'G-reg';
    src: url('assets/fonts/garemond-xlight-regular.otf') format('opentype');
    font-weight: 600;
    font-display: swap;
  }  


}


#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.text-stroke-1 {
  -webkit-text-stroke: 3px black;
}

.text-stroke-2 {
  -webkit-text-stroke: 3px black;
}

.text-stroke-3 {
  -webkit-text-stroke: 3px black;
}

#memespace h2 {
font-size: 3em;
-webkit-text-stroke: 5px black;
paint-order: stroke fill;

}

.fix-stroke {
  paint-order: stroke fill;
}